<!-- test plugin -->
<div class="mat-dialog-content">
    <label>Сертификат</label>
    <select size="4" 
            class="form-control" 
            (change)= "onCertificateSelected($event.target.selectedIndex)">
            <option *ngFor="let object of certListGet" 
                    value = {{object}} class="option-style">
              Владелец: {{object.SubjectName}};  
              Выдан:  {{object.ValidFromDate | date:'dd.MM.yyyy HH:mm z'}};
              Действителен до:  {{object.ValidToDate | date:'dd.MM.yyyy HH:mm z'}}
            </option>
    </select>
    <div  class="cert-info">
      <div>Информация о выбранном сертификате:</div>
      <div *ngIf="selectedCertificateFromListGet">
      <div>Владелец: {{selectedCertificateFromListGet.SubjectName}}</div>
      <div>Издатель: {{selectedCertificateFromListGet.IssuerName}}</div>
      <div>Выдан:  {{selectedCertificateFromListGet.ValidFromDate | date:'dd.MM.yyyy HH:mm z'}}</div>
      <div>Действителен до:  {{selectedCertificateFromListGet.ValidToDate | date:'dd.MM.yyyy HH:mm z'}}</div>
      <div>Серийный номер:  {{selectedCertificateFromListGet.SerialNumber}}</div>    
      </div> 
    </div>

</div>
<div class="mat-dialog-content"> 
<div>
  <p>Загрузить XLS</p>
  
  <input type="file"
         [disabled]="!selectedCertificateFromListGet"
         class="form-control"
         (change)="handleFileInput($event.target.files)">
</div>
<div>
  <button [disabled]="fileToUpload == null"
          (click)="uploadFile()">{{overGet ? 'Подпись сформирована' : 'Подписать и загрузить'}}
  </button>
</div>
</div>
<!-- endTest plugin -->






<!-- <h3>Use ag-Grid Library</h3>

<ag-grid-angular *ngIf = "false"  #agGrid style="width: 100%; height: 250px;" 
                  class="ag-theme-balham"
                  [gridOptions]="gridOptions"></ag-grid-angular> -->