<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="w3-panel w3-border-bottom w3-border-black w3-center">
    <h1 class="w3-border-bottom">
      {{ title }}
    </h1>
    <button class='w3-margin' routerLink = 'first' routerLinkActive="active">HtmlTesting</button>
    <button class='w3-margin' routerLink = 'second' routerLinkActive="active">RegExpTesting</button>
    <button class='w3-margin' routerLink = 'third' routerLinkActive="active">Observable and Promise</button>
  </div>
  <!-- <div class="w3-center"> -->
  <div class="w3-container">
    <router-outlet></router-outlet>
  </div>
</div>