<!-- Observable block -->
<div class="w3-container w3-half w3-border w3-border-blue">
  <h3 class="w3-center w3-border-bottom w3-border-blue">Observable</h3>
  <label>Set New Value for Observer</label>
  <input #setValue class="w3-input w3-border w3-round-large" type="text" [(ngModel)]="observableMessage" (keyup.enter)="setNewValue(setValue.value)">
  <button class="w3-btn w3-green" (click)="setNewValue(setValue.value)">Set</button>
  <button class="w3-btn w3-red w3-margin" (click)="clearAr()">Clear</button>
  <div class="w3-panel w3-pale-green">
    <p *ngFor="let obs of observableShow">{{obs}}</p>
  </div>
</div>
<!-- Promise block -->
<div class="w3-container w3-half w3-border w3-border-blue">
    <h3 class="w3-center w3-border-bottom w3-border-blue">Promise</h3>
    <label>Set New Value for Promise</label>
    <input #setPromValue class="w3-input w3-border w3-round-large" type="text" [(ngModel)]="promiseMessage" (keyup.enter)="setNewPromValue(setPromValue.value)">
    <button class="w3-btn w3-green" (click)="setNewPromValue(setPromValue.value)">Set</button>
    <button class="w3-btn w3-red w3-margin" (click)="clearPromAr()">Clear</button>
    <div class="w3-panel w3-pale-green">
      <p *ngFor="let prom of promiseShow">{{prom}}</p>
    </div>
  </div>